@{
    ViewBag.Title = "Thank You";
}

<h2>Thank You</h2>

<p>Thank you for interest in participation on our reunion program.</p>
<p>Looking forword to see you on the reunion program day.</p>

@Html.ActionLink("Back to the home page", "RegHome", "ReunionRegistration");
